<div class="row-fluid text-centered">
	<div class="row">
		<h1>Blue Collar Credit</h1>
	</div>
	<div class="row">
		<h2 class="font-gotham-light span12">For those who play, as hard as they work.</h2>
	</div>
	<div class="row">
		<h3 class="font-gotham-light span12">How can we help?</h3>
	</div>
	<div class="row circle-row">
		<div class="span3 circle">
			<span class="ss-icon">wrenchpencil</span>
			<span class="font-gotham-light circle-text">Credit Repair</span>
		</div>
		<div class="span3 circle">
			<span class="ss-icon">creditcard</span>
			<span class="font-gotham-light circle-text">Credit Card</span>
		</div>
		<div class="span3 circle">
			<span class="ss-icon">motorcycle</span>
			<span class="font-gotham-light circle-text">Auto Loan</span>
		</div>
		<div class="span3 circle">
			<span class="ss-icon">cash</span>
			<span class="font-gotham-light circle-text">Personal Loan</span>
		</div>
	</div>
	<div class="row copyright-row">
		<span class="font-gotham-light copyright"><a href="#">About Us</a> | &#169; 2013 Blue Collar Credit</span>
	</div>
</div>